<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
    
  </main>
  <body style="background-color:rgb(240, 195, 221)">
    <h4 style="text-align:center">Masoumeh Afzali</h4>
    <p style="text-align:center">Below is a picture of me in my sunglasses!</p>
    <div style="text-align:center">
        <img src="Assets/images/plant.jpg" alt="mypicture" style="height:200px;"><br /><br />
        <p>I am a young girl who enjoys being in the nature because it is where I enjoy life the most.But also I am a student at centennial.</p>
        <a href="Assets/images/nasaresume.pdf">My Resume.</a><p></p>
    </div>
</body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

