<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
  </main>
  <body style="background-color:rgb(240, 195, 221)">
    <h4 style="text-align:center">Welcome to my Masa's Webpage</h4>
    <p style="text-align:center">this page is a work in progess and will be updated soon...</p>
</body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
<p></p>
  




