<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
    
  </main>
  <body style="background-color:rgb(240, 195, 221)">
    <h4 style="text-align:center">Welcome to my Projects page!</h4>
    <!-- Below is an unlisted list of my projects -->
    
        <ul>
            <li>Personal Car Project</li>
            <p> I have a honda civic whichh I own  </p>
            <li>Body goal</li>
            <p>I go to the gym to embelish my beauty.</p>
            <li>My Portfolio Website</li>
            <p>Learning web languages</p>

        </ul>
    
</body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




